* {
	box-sizing: border-box;
}


body {

	background-image: linear-gradient(rgba(77,255,77,.2) 2px, rgba(50,50,50,0.5) 2px),
	linear-gradient(90deg, rgba(77,255,77,.2) 2px, rgba(50,50,50,0.5) 2px),
	linear-gradient(rgba(77,255,77,.2) 1px, rgba(50,50,50,0.5) 1px),
	linear-gradient(90deg, rgba(77,255,77,.2) 1px, rgba(50,50,50,0.5) 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    color : #34495e;
}

.navbar {
	position: fixed;
	height: 100%
}

.jumbotron {
  margin-bottom : 50px;
  padding-bottom: 0px;
  background-color: transparent;
  color: rgba(100, 150, 150, 1);
  text-align: center;
}

.contentbackground {
	background-color: #BABBBB;
	width: 80%;
	margin: 0 auto;
	border-radius: 4px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.screensize {
	padding-bottom: 600px;
}

.anchor {
	margin-top: 50px;
}

.image {
	display: inline-block;
	float: left;
}

.column {
	display: inline-block;
	float: left;
	width: 30%;
	padding: 0 20px;

}

.main-text {
	clear: both;
	padding-top: 60px;
}

.sidepicture {
	width : 100%;
}

.list {
	background-color: #CBCCCC;
	padding-top: 20px;
	padding-bottom: 20px;
}

#skill-list {
	margin-left: 50px;
}

.Contacts {
	text-align: center;
}

.btn-default {
	background-color: #CBCCCC;
	color: #34495e;
	border-color: #ccc;
}

.btn {
	display: inline-block;
	padding: 0 12px;
	margin-bottom: 0;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	border: 1px solid #000000;
	border-radius: 4px;
}

.btn:hover {
	background-color: #BABBBB;
}


/* Typography */

h1, h2, h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

p, li {
	font-family: Georgia, Palatino, Times New Roman, serif;
}

.intro p {
	font-family: Georgia, Palatino, Times New Roman, serif;
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0;
}

.list h3 {
	text-align: center;
	text-transform: uppercase;

}